{% from '%%componentImport%%' import %%componentName%% %}

{% extends '%%partsKitLayout%%' %}

{% block main %}

    <div>
        <h1>%%componentName%%</h1>

        {{ %%componentName%%({
            prop: '',
        }) }}
    </div>

{% endblock %}
