<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

{% macro code(props) %}
    <code class="inline-block p-1 bg-slate-100 rounded-md text-xs group-hover:bg-slate-200">
        {{ props.content }}
    </code>
{% endmacro %}

<div class="max-w-screen-lg mx-auto p-10 divide-y">
    {% for group in fieldsByGroup %}
        <div class="py-5">
            <div class="p-2 cursor-pointer group hover:bg-slate-100">
                <div class="inline-flex flex-wrap align-top pl-1" style="width: calc(100% - 20px)">
                    <h2 class="font-medium w-1/2 pr-3">
                        {{ group.name }}
                    </h2>
                </div>
            </div>
            <div class="p-3 pt-0">
                <ul class="text-sm space-y-1">
                    {% for field in group.fields %}
                        <li>
                            {{ field.name }} -
                            {{ _self.code({
                                content: field.type,
                            }) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
</div>

</body>
</html>